/* body {
    font-family: 'lora', sans-serif;
    background-color: #F5F7D4;
    margin: 0;
    font-size: 16px;
    width: 100vw;

}

main {
    margin: 0
}

.content-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: #98CA32;
    margin: 0;
    width: 100%;
}

.header-title {
    padding-left: 20px;
}

header h3 {

    padding-left: 30px;
    color: #E4F132;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 35%;
    padding-right: 30px;
}

.contact p {
    margin-bottom: 8px;
    color: #E4F132;
    margin-top: 0;
    width: 80%;
    font-size: 0.8em;
    justify-content: flex-end;
}

.contact a {
    color: #E4F132;
    font-size: 1em;
    text-decoration: none;
    width: 80%;
}

h1 {
    color: darkblue;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 1.25em;
    letter-spacing: .2em;
    margin: 0;
    padding-top: 25px;
    text-align: left;
    padding-left: 30px;

}

h2 {
    padding: 10px 0;
    color: darkblue;
    font-size: 1em;
}

h3 {
    color: #0A3409;
    font-size: .9em;
    padding-bottom: 10px;
}

p {
    font-size: 1em;
}

footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    color: darkblue;


}

.footer p {
    margin: 0;
    padding: 0;

}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    flex-flow: row nowrap;
    color: #E4F132;
    font-size: 20px;
    width: 80%;

}

.social-icons a {
    text-decoration: none;
    padding-top: 5px;
    color: #E4F132;
    justify-content: flex-start;
}



h4 {
    color: #383838;
    margin: 0;
    font-size: 1em;

}

.degree {
    color: darkblue;
    font-size: 0.9em;
}

.employment h2 {
    background: #559E54;
    margin-top: 0;

}

.education h2 {
    background-color: #98CA32;
}

.languages h2 {
    background: #559E54;

}

ul {
    margin: 20px;
}

.header-subtitle,
.degree {
    margin-left: 20px;
    color: b#0A3409;


}

.social-icons img {
    display: none;
}

.resume {
    width: 100%;
}

.objectives {
    margin: 20px;
    text-indent: 1em;
    font-size: .9em;
}

.career-objectives h2 {
    background-color: #559E54;
    margin-top: 0;
}

.projects h2 {
    background-color: #98CA32;
}

.project-wrapper {
    margin: 20px;
}

.exercise {
    padding: 10px;
}

.wrapper {
    margin: 20px;
}

ul li {
    font-size: 0.9em;
}

footer p {
    font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
    .contact {
        justify-content: flex-end;
        padding-right: 0;
    }

    .header {
        padding-top: 20px;
    }

    h1 {
        font-size: 2.2em;
    }

    p {
        font-size: 1em;
    }

    h4 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    ul li {
        font-size: 1em;
    }

    .degree {
        font-size: 1em;
    }

    .objectives {
        font-size: 1em;
    }

    .contact p {
        font-size: 1em;
    }

    .contact {
        width: 25%;
    }

}

@media only screen and (max-width: 1200px) {} */